body {
    font-family: sans-serif;
    background-color: whitesmoke;
    width: 100%;
    margin: auto;
}

/*menu*/
.menu {
  text-align: right;
  display: block;
  margin-top: 0;
  margin-left: auto;
  margin-right: 30px;
}

.menu li {
  list-style: none;
  margin: 3px;
  display: inline-block;
}

.menu a {
  background-color: #5a030300;
  padding: 7px;
  color: white;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  font-variant: small-caps;
}

.menu a:hover {
  background-color: #5a0303cc;
}

/*Hero*/
#hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(119, 3, 3, 0.6)), url(img/forWomen.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 60px;
  padding-bottom: 170px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 8px;
}

#titulo {
  color: white;
  font-size: 80px;
  text-align: center;
  padding-top: 40px;
  text-shadow: 2px 2px #020202;
}

#slogan {
  color: #f1f1f1;
  font-style: italic;
  text-align: center;
  font-size: 18px;
  text-shadow: 2px 2px #020202;
}

button {
  background-color: #5a0303;
  border-radius: 10px;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: medium;
  text-decoration: none;
}

button:hover {
  background-color: #3b0101;
}

#hero-text {
  text-align: center;
}

/*seções*/
section {
  padding-top: 30px;
  padding-bottom: 50px;
}

.sec_tit {
  text-align: center;
  padding-top: 10px;
  font-variant: small-caps;
  font-size: 28px;
}

.sec_subtit {
  text-align: center;
  padding-bottom: 10px;
  color:#4b4b4b
}

/*início da seção The Dream Gap*/

div.video {
  margin: 0px, 20px;
  padding: 20px;
  padding-bottom: 56%;
  position: relative;
}

div.video > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

div.dreamgaptext {
  text-align: center;
  margin: 0px, 30px;
  padding-left: 12%;
  padding-right: 12%;
  line-height: 1.25;
}

#dream-gap {
  text-align: center;
}
.pergunta {
  font-weight: bold;
  text-align: center;
  background-color: #ffee00b0;
  padding: 3px;
}

/*Início da seção Desafio ODS*/
.ods {
  background-color: #444444fa;
  color: #f1f1f1;
  padding-bottom: 10px;
}

.container1 {
  padding: 30px 80px;
}

.logods5 {
  height: 280px;
  width: 280px;
  border-radius: 30px;
  float: left;
  margin-right: 30px;
}

.txt {
  line-height: 1.5;
  text-align: justify;
}

summary {
  color: white;
  background-color: #5a0303;
  padding: 4px 8px;
  display: inline-block;
  text-align: center;
  font-variant: small-caps;
  cursor: pointer;
  border-radius: 10px;
  width: fit-content;
}

summary:hover {
  background-color: #3b0101;
}

.ptsods {
  padding-bottom: 10px;
  background-color:#f1f1f1;
  text-align: justify;
}

.mais {
  color: #fffffffa;
  display: inline-block;
  text-align: center;
  font-variant: small-caps;
  background-color: #5a0303fa;
  text-decoration: none;
  padding: 4px 15px;
  border-radius: 10px;
  width: fit-content;
  margin-top: 15px;
}

.mais:hover {
  background-color: #3b0101;
}

.btm {
  margin: 10px 0;
  text-align: center;
}
/*Final da seção ODS e início da seção dos indicadores*/

#indic_tit {
  color:#5a0303fa;
}

#indicad {
  background-color: #e7e5e5fa;
}

.indic {
  height: 280px;
  width: 280px;
  border-radius: 15px;
  margin: 10px;
}

#indica {
  padding: 10px 100px;
  text-align: center;
}

/*Citação*/

.citacao {
  text-align: center;
  margin-left: 18%;
  margin-right: 18%;
  font-weight: bolder;
  font-size: 30px;
  color: #303030;
}

.ref_cita {
  text-align: center;
  font-style: italic;
  color: #4b4b4b;
}

/*início da seção das dificuldades*/

#desafios {
  background-color: #e7e7e7;
  margin-left: 0px;
  margin-right: 0px;
}

.tt_text {
  text-align: center;
  padding: 5px 20px;
}

.list_tit {
  text-align: center;
  font-variant: small-caps;
}

.lista {
  border: solid 2px;
  border-color: #5a0303fa;
  border-radius: 15px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 15px;
  display: inline-block;
  margin: 5px;
  width: 45%;
  height: auto;
}

.botao2 {
  margin-left: 35%;
  margin-right: auto;
}

.dif {
  margin-top: 12px;
  margin-bottom: 12px;
}

.glass_tit {
  text-align: center;
  color: white;
  font-variant: small-caps;
}

.glass {
  background-color: #5a0303fa;
  padding: 8px 25px;
  border-radius: 15px;
  text-align: justify;
  line-height: 1.5;
  color: #f1f1f1;
  display: inline-block;
  margin: 5px;
  width: 45%;
  height: auto;
}

.colunas {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Início seção Iniciativas*/
.iniciativa_sec {
  padding: 50px;
}

.txt_inic {
  text-align: center;
  padding-bottom: 10px;
  line-height: 1.5;
}

.logos {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin: 8px;
  display: inline-block;
  text-align: center;
}

.container2 {
  text-align: center;
}

.container3 a {
  text-decoration: none;
  color: #5a0303;
  font-variant: small-caps;
  display: inline-block;
  font-weight: bold;
  padding: 10px 5px;
  border-radius: 10px;
  border: solid 1px #5a0303;
  margin-bottom: 30px;
  width: fit-content;
  text-align: center;
  margin: 0 53px 20px;
}

.container3 a:hover {
  background-color: #5a0303;
  color: white;
}

.container3 {
  text-align: center;
  margin-bottom: 20px;
}

.logojaccr {
  width: 200px;
  height: 200px;
}

.logoelasnatech {
  height: 120px;
  width: 280px;
  margin: auto;
  display: block;
}

.elasnatech {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Inicio da seção porque porque impulsionar*/

.txt_porque {
  text-align: justify;
  columns: 2;
  column-gap: 60px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 1.5;
}

.porque_tit {
  background-color: #5a0303;
  padding: 25px 90px;
  color: white;
  margin-bottom: 50px;
  border-radius: 15px;
  width: fit-content;
  text-align: center;
  display: block;
  margin: auto;
}

#img_bg_sec {
  background-image: url(img/paredeAzul.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2px 0 60px 0px;
}

.item1 {
  list-style: none;
  display: block;
  background-color: #ffee00;
  padding: 30px 20px;
  margin-bottom: 15px;
  border-radius: 15px;
  font-weight: bolder;
  width: fit-content;
  text-align: left;
}

h3 {
  font-variant: small-caps;
  color: #5a0303;
  background-color: white;
  padding: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.beneficios {
  padding: 5px 200px; 
}

/*Seção News*/

#artigos {
  padding: 5px 30px;
}

#txtnews {
  text-align: center;
  line-height: 1.5;
}

.news:hover :not(:hover){
  opacity: 0.3;
}

.img_news {
  height: 200px;
  width: 200px;
  border: 1px solid #020202;
}

.img_news:hover{
  scale:1.1;
}

.container4 {
  padding: 10px 20px;
  text-align: center;
}

div.news > iframe {
  width: auto;
}

/*créditos*/

.creditos {
  margin:10px 30px 25px 30px;
  padding: 15px;
  font-size: 12px;
  text-align: center;
}

.imagens {
  display: inline-block;
  padding: 10px;
}

.videos {
  display: inline-block;
  padding: 10px;
}

.infos {
  display: inline-block;
  padding: 10px;
  text-align: center;
}

/*Footer*/
footer {
  background-color: #5a0303;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  color: white;
  font-size: 11px;
  padding-bottom: 30px;
  padding-top: 30px;
}

footer a {
  font-weight: bold;
  background-color: white;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 5px;
  text-decoration: none;
}
/*Final do footer*/

#top {
  float: right;
  background-color: #ffffff6e;
  border-radius: 50%;
}